body {
  background: white;
  font-size: 16px;
}

.row {
  margin: 0 0 0 0;
}

hr {
  width: 30%;
}

#top-nav {
  width: 100%;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: black;
}

#top-nav a {
  padding: 0 20px 0 20px;
  color: black;
}

#text-two {
  background: white;
  min-height: 100vh;
  /*padding-bottom: 50px;*/
}

#text-three {
  /*height: 100%;*/
  padding-bottom: 5vh;
  background: white;
}

#divider {
  background: rgba(155, 147, 143, 0.7);
}

#divider .row {
  padding-bottom: 110px;
}

.skill {
  font-size: 1.5rem;
  font-family: 'Open Sans', sans-serif;
  color: #372f2b;
}

#skills-header {
  font-family: 'Josefin Slab', serif;
  padding-top: 110px;
  font-size: 3.5rem;
  color: #50443e;
}

#links {
  background: rgba(155, 147, 143, 0.7);
}

.scroll-container {
  overflow: auto;
  height: 80%;
  margin-top: 5%;
}

.nav {
  padding-top: 2vh;
}

a {
  color: black;
}

.name {
  font-family: 'Josefin Slab', serif;
  font-size: 7vw;
  margin-top: 10vh;
  color: #924e5a;
}

#reach-out {
  color: #924e5a;
}

.about-heading, .work-heading {
  font-family: 'Poiret One', cursive;
  font-size: 6em;
  margin: 5vh 0 3vh 5vw;
}

.work-heading {
  padding-top: 45px;
}

.descriptions {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2rem;
  color: rgba(113, 101, 96, 0.7);
}

.main-photo {
  max-width: 100%;
  object-fit: cover;
  z-index: -1;
}

.skill-type {
  font-family: 'Oswald', sans-serif;
  font-size: 2.3rem;
  color: #972929;
}

#stand-out {
  color: #972929;
}

.bold {
  font-size: 38px;
  text-decoration: underline;
}

#screen-height {
  height: 100vh;
}

.parallax-container {
  height: 100%;
}

.parallax {
  z-index: 0;
}

#city-divider {
  height: 60vh;
}

.text-container {
  min-height: 100vh;
}

#footer {
  height: 80vh;
}

.thick {
  width: 40%;
  height: 1px;
  background-color: black;
  border: none;
  margin-bottom: 30px;
}

#footer h3 {
  font-family: 'Josefin Slab', serif;
  padding-top: 7vh;
  margin: 0 0 0 0;
}

#footer h5 {
  font-family: 'Open Sans', sans-serif;
}

.contact-image {
  height: 8vh;
  width: auto;
  margin: 2vw 1.5vw 2vw 1.5vw;
}

.project-img {
  max-width: 100%;
  height: auto;
  margin: 30px 0 30px 30px;
}

#text-three h5 {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 40px;
}
